.TopPanel{
    right: 0px;
    height: 54px;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 0.5s ease;
    z-index: 0;
    display: flex;
    flex-direction: row;
  }
  
  .UtilityTools {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    height: 42px;
    width: 42px;
  }
.profileButton{
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px;
}
.profileButton div{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}
.profileButton p{
    margin: 0;
    font-size: 22px;
}
.profileButton span{
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profileHolder{
    height: 100%;
    width: 270px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.dropdown{
  width: 54px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dropdownContainer{
  position: fixed;
  top: 60px;
  width: 270px;
  bottom: 0;
  right: 0;
  box-shadow: none !important;
}
.dropdownContainer div{
  margin: auto;
  margin-top: 14px;
  border-radius: 5px;
  width: 92%;
}
.dropdownContainer div:last-child{
  margin-bottom: 0;
}