:root{
  --dark-primary-color: #2d2d2d;
  --dark-secondary-color: #444444;
  --dark-placeholder-text-color: lightgrey;
  --dark-text-color: #f9f9f9;
  --dark-hover-color: #565656;
  --dark-pickedInput-color: #ff3232;
  --dark-disabled-color: #444444;
  --dark-border-color: #82828245;
  --dark-button-active-color: #717171;
  --dark-button-border-color: #828282;
  --dark-hyphen-text-color: #f9f9f9a6;
  --dark-unInteractive-layer-color: #707070;
}

.dark-primary-bgcolor{
  background-color: var(--dark-primary-color) !important;    
}
.dark-secondary-bgcolor{
  background-color: var(--dark-secondary-color) !important;
}
.dark-pickedInput-bgcolor{
  background-color: var(--dark-pickedInput-color) !important;
}

.bodyDarkMode ::placeholder {
  color: var(--dark-placeholder-text-color);
}

.bodyDarkMode :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--dark-placeholder-text-color);
}

.bodyDarkMode ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--dark-placeholder-text-color);
}

.bodyDarkMode{
  color: var(--dark-text-color);
}

.bodyDarkMode .baseLayer {
  background-color: var(--dark-primary-color);
}

.bodyDarkMode .unInteractiveLayer{
  background-color: var(--dark-unInteractive-layer-color);
}

.bodyDarkMode :is(.secondLayer , .Nav .NavButton){
  background-color: var(--dark-secondary-color);
  color: var(--dark-text-color);
}

.bodyDarkMode .borderColor {
  border-color: var(--dark-border-color);
}

.bodyDarkMode input[type=button].secondLayer:active {
  background-color: var(--dark-button-active-color);
}
.bodyDarkMode :is(input[type=text].secondLayer , textarea.secondLayer) {
  border-width: 2px;
  border-color: var(--dark-button-border-color);
}

.bodyDarkMode input[type=button].secondLayer:disabled {
  opacity: 0.5;
  background-color: transparent ;
  border-color: var(--dark-disabled-color) ;
  color: var(--dark-disabled-color) ;
}

.bodyDarkMode :is(.WindowButton , .Nav div  , .Nav label, input[type=button].secondLayer, div.secondLayer):hover{
  transition: 0.4s ease all;
  background-color: var(--dark-hover-color);
}

.bodyDarkMode .pickedBorderColor {
  border-color: var(--dark-pickedInput-color) !important;
}
.bodyDarkMode :is(.pickedInput , input[type=submit]){
  background-color: var(--dark-pickedInput-color) !important;
}
.bodyDarkMode .hyphen{
  color: var(--dark-hyphen-text-color);
}