:root{
  --light-primary-color: #e4e3e3;
  --light-secondary-color: #d8d8d8;
  --light-placeholder-text-color: rgb(124, 124, 124);
  --light-text-color: #131313;
  --light-hover-color: #bebebe;
  --light-pickedInput-color: #ff3232;
  --light-disabled-color: #444444;
  --light-border-color: #9d9d9d45;
  --light-button-active-color: #959494;
  --light-button-border-color: #828282;
  --light-hyphen-text-color: #2d2d2dda;
  --light-unInteractive-layer-color: #707070;
}

.light-primary-bgcolor{
  background-color: var(--light-primary-color) !important;    
}
.light-secondary-bgcolor{
  background-color: var(--light-secondary-color) !important;
}
.light-pickedInput-bgcolor{
  background-color: var(--light-pickedInput-color) !important;
}

.bodyLightMode ::placeholder {
  color: var(--light-placeholder-text-color);
}

.bodyLightMode :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--light-placeholder-text-color);
}

.bodyLightMode ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--light-placeholder-text-color);
}

.bodyLightMode{
  color: var(--light-text-color);
}

.bodyLightMode .baseLayer {
  background-color: var(--light-primary-color);
}

.bodyLightMode .unInteractiveLayer{
  background-color: var(--light-unInteractive-layer-color);
}

.bodyLightMode :is(.secondLayer , .Nav .NavButton){
  background-color: var(--light-secondary-color);
  color: var(--light-text-color);
}

.bodyLightMode .borderColor {
  border-color: var(--light-border-color);
}

.bodyLightMode input[type=button].secondLayer:active {
  background-color: var(--light-button-active-color);
}
.bodyLightMode :is(input[type=text].secondLayer , textarea.secondLayer) {
  border-width: 2px;
  border-color: var(--light-button-border-color);
}
.bodyLightMode input[type=button].secondLayer:disabled {
  opacity: 0.5;
  background-color: transparent ;
  border-color: var(--light-disabled-color) ;
  color: var(--light-disabled-color) ;
}

.bodyLightMode :is(.WindowButton , .Nav div  , .Nav label, input[type=button].secondLayer, div.secondLayer):hover{
  transition: 0.4s ease all;
  background-color: var(--light-hover-color);
}

.bodyLightMode .pickedBorderColor {
  border-color: var(--light-pickedInput-color) !important;
}
.bodyLightMode :is(.pickedInput , input[type=submit]){
  background-color: var(--light-pickedInput-color) !important;
}
.bodyLightMode .hyphen{
  color: var(--light-hyphen-text-color);
}