.categoryListPicker {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px 20px;
    position: absolute;
    padding-bottom: 0;
    z-index: 1;
  }
  .categoryListPicker input{
    padding: 8px 8px;
    border-radius: 5px;
    width: 176px;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .categoryTypeDiv{
    padding: 8px 24px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .categoryTypeDiv div{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .categoryTypeDiv p{
    margin: 0;
    font-size: 14px;
    font-style: italic;
  }
  .categoryContainer{
    width: 100%;
    margin:auto;
    max-width: 700px;
  }
  .suggest{
    margin-bottom: 20px;
  }
  .removeCategory{
    border-radius: 5px;
    font-size: 22px;
  }
  .notFound{
    margin: 0;
    margin-bottom: 23px;
    font-size: 22px;
  }