

  .radioLabel{
    border-radius: 5px;
    padding: 2% 3%;
    width: 42% !important;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px !important;
  }
  .radioInput{
    display: none;
  }  
  .radioContainer{
    display: flex;
    justify-content: space-between;
  }

  .dateList {
    -moz-text-align-last: center;
    text-align-last: center;
    font-size: 20px;
    width: 92%;
    padding: 12px 4%;
    outline: none;
    border-radius: 6px;
    border: none;
    margin-bottom: 3%;
  }
  
  .saveProfileData {
    background-image: url("../../sharedComponents/Media/save.png");
  }
  .editPicContainer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin:0 auto;
    margin-bottom:20px
  }
  .editPicContainer label{
    padding: 15px 12px;
    width: 126px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .headerView {
    height: 254px;
    border-radius: 5px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
  }
  
  .wallpaperPic {
    position: relative;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
  }
  
  .userDataPosition {
    position: absolute;
    left: 14px;
    bottom: 14px;
    padding: 6px;
    display: inline-block;
    border-radius: 5px;
    min-width: 174px;
  }
  

  .profPic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    float: left;
  }
 
  .userInfoContainer {
    margin-left: 15px;
    margin-right: 10px;
    display: block;
    float: left;
    margin-top: 3px;
  }
  
  .userInfoContainer div {
    float: left;
  }
  
  .profileUsername {
    font-size: 22px;
  }
  
  .profileUserCode {
    clear: left;
    margin-top: 9px;
    font-size: 15px;
  }
  
  .proccessingImage {
    visibility: visible;
    text-align: center;
    line-height: 150px;
    font-size: 23px;
    background-image: none;
  }
  
  .wrongUrlNoUser {
    width: 100%;
    text-align: center;
    font-size: 34px;
    margin-top: 31%;
  }
  
  .addFriendRelation {
    background-image: url("../../sharedComponents/Media/add-user.png");
  }
  
  .cancelFriendRelation {
    background-image: url("../../sharedComponents/Media/close.png");
  }
  
  .unFriendRelation {
    background-image: url("../../sharedComponents/Media/removePlayer.png");
  }
  .acceptFriendRelation {
    background-image: url("../../sharedComponents/Media/tick.png");
  }


  .profilePosts {
    background-image: url(../../sharedComponents/Media/postView.png);
  }
  
  .editProfile {
    background-image: url(../../sharedComponents/Media/editUser.png);
  }
  
  .editPic{
    background-image: url("../../sharedComponents/Media/imageInsert.png");
  }
  
  .editInfo{
    background-image: url("../../sharedComponents/Media/editInfo.png");
  }
  
  .changePass {
    background-image: url("../../sharedComponents/Media/passwordConf.png");
  }
  .formContainer .saveButton{
    padding: 8px 0;
  }
  .formContainer{
    width: 100%;
  }
  .formContainer :is(input,select){
    margin-bottom: 30px;
  }
  .formContainer label{
    /* padding: 20px 40px;
    border-radius: 5px;
    text-align: center; */
    cursor: pointer;
    margin-bottom: 14px;
    font-size: 20px;
    display: block;
  }
  .picPercent{
    font-size: 18px;
  }
  .displayPic{
    width: 400px;
    height: 170px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
