.FriendsList{
  position: fixed;
  bottom: 0;
  width: 242px;
  top: 54px;
  right: 0;
  padding: 20px 14px;
  border-left: 1px solid;
}

  .friendStatus {
    width: calc(100% - 16px);
    transition: transform .2s;
    cursor: pointer;
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
  }
  
  .friendIcon {
    height: 42px;
    width: 42px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .friendText {
    font-size: 22px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    margin-left: 14px;
  }
  
  
  .unreadMsgAlert {
    position: absolute;
    bottom: 6px;
    right: 9px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .gotMsgFromFriend {
    transition: 0.3s ease all;
    background-color: #4e4e4e;
  }
  .shake {
    animation: skew-x-shakeng 2s infinite;
  }
  @keyframes skew-x-shakeng{
    0% { transform: skewX(-2deg); }
    5% { transform: skewX(2deg); }
    10% { transform: skewX(-2deg); }
    15% { transform: skewX(2deg); }
    20% { transform: skewX(-2deg); }
    25% { transform: skewX(2deg); }
    30% { transform: skewX(-2deg); }
    35% { transform: skewX(2deg); }
    40% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
   }
.friendListTitle{
  margin: 10px 0;
  font-size: 18px;
}
.callAboveTitle{
  margin-top : 20px;
}
.callOverlay{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  margin: -5px;
}
.callContainerInChat{
  width: 100% !important;
}
.callContainerInChat :is(.callUserTitle , .callHandle){
  visibility: hidden;
}
.callContainerInChat:hover :is(.callUserTitle , .callHandle , .keepOnlyBiggerView .toggleCallersDisplay){
  visibility: visible;
  display: flex;
}
.recievingPositon{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000096;
  z-index: 10;
}
.recievingPositon .callContainer{
  height: auto;
}
.callUserTitle{
  width: 100%;
  display: flex;
  align-items: center;
}
.callUserTitle div{
  height: 50px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  border-radius: 5px;
  font-size: 24px;
}
.callUserTitle p{
  margin: 0;
  max-width: calc(100% - 10px);
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  font-size: initial;
}
.callInChat{
  position: fixed;
  top: 60px;
  right: 276px;
  left: 5px;
  height: 465px;
  border-radius: 0;
}
  .callContainer{
    height: 100%;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    /* min-height: 260px; */
  }
  .callContainerInChat .callUserProfile{
    height: 100%;
  }
  .callUserProfile{
    width: 100%;
  }
  .callUserProfile p{
    margin: 0;
  }
  .inCallImages{
    position: relative;
    height: 100%;
    width: 100%;
  }

  .keepOnlyBiggerView .callerHolder:not(.biggerView){
    z-index: 2;
  }
.keepOnlyBiggerView{
  display: flex;
  justify-content: flex-end;
}
.keepOnlyBiggerView .HoldImagesRight{
  width: 200px;
  margin-right: 72px;
}

.keepOnlyBiggerView .smallerView{
  width: 0px !important;
}
.smallerView .callerHolder:not(.biggerView){
  display: none;
}
  .toggleCallersDisplay{
    display: none;
    position: absolute;
    z-index: 2;
    right: 16px;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: column;
    top: 50%;
    transform: translate(0, -50%);
  }
  .toggleCallersDisplay div{
    border-radius: 5px;
    display: block;
    padding: 24px 10px;
  }
  .toggleCallersDisplay div:first-child{
margin-bottom: 14px;
  }
  .callerHolder{
    height: auto;
    max-height: 100%;
    max-width: 400px;
    cursor: pointer;
    width: calc(100% - 10px);
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* border: 3px solid transparent; */
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.inviteToCall{
  position: absolute;
  right: 7px;
  top: 7px;
  bottom: 7px;
  display: flex;
  font-size: 18px;
  align-items: center;
  padding: 0px 12px;
  border-radius: 5px;
  user-select: none;
}

  .inCallImages video{
    height: 100%;
    max-width: 100%;
  }
  /* .callerHolder::before {
    content: '';
    display: block;
    padding-top: 100%;
  } */
  .callerHolder span{
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
  }
  .callUserProfile img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin: 10px;
  }
  .callerImage{
    margin: auto;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }
  .callStatus{
    margin-top: 20px;
  }
  .callHandle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .callHandle  div{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    margin: 5px;
  }

  .callerAccept{
    transform: rotate(-90deg);
    background-color: green !important;
  }
  .previewContainer{
    position: absolute;
    right: 284px;
    top: 0;
    width: 300px;
    border-radius: 5px;
    padding: 12px;
  }
  .previewProfile{
    margin-bottom: 12px;
    position: relative;
  }
  .previewProfile div{
    width: 100%;
    height: 110px;
    border-radius: 5px;
  }
  .previewProfileImg{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 8px;
    left: 8px;
  }
  .previewProfile img{
    border-radius: 5px;
    object-fit: cover;
  }
  .previewProfile div img{
    width: 100%;
    height: 100%;
  }
  .previewInteract{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .previewInteract div{
    padding: 10px 0;
    text-align: center;
    width: 48%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
  }
  .previewInteract span{
    margin-right: 12px;
  }
  .biggerView{
    width: auto !important;
    height: 100% !important;
    max-width: calc(100% - 10px) !important;
    max-height: calc(100% - 10px) !important;
    position: absolute !important;
    border: none !important;
    left: 0;
    right: 0;
    z-index: 0;
  }
  .keepOnlyBiggerView .HoldImagesRight:not(.smallerView) .biggerView{
    width: auto !important;
    right: 272px;
  }
  .HoldImagesRight{
    display: flex;
    place-content: center;
    align-content: stretch;
    font-size: 22px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }