body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

input , textarea {
  outline: none;
  border-width: 0px;
}
input:focus, textarea:focus{
  border-color: #ff3232 !important;
}

/* @font-face {
  font-family: 'Ubuntu', sans-serif;
} */

* {
  font-family: 'Ubuntu';
}

.modelStats {
  position: absolute;
  left: 2%;
  bottom: 2%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.ErrorLog {
  display: none;
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 38%);
  color: #f9f9f9;
  background-color: #ff3232;
  position: fixed;
  top: 14px;
  right: 250px;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.WindowTab{
  top: 14px;
  bottom: 14px;
  z-index: -1;
  left: 92px;
  right: 252px;
  position: fixed;
  border-radius: 5px;
  overflow: auto;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.InputField{
  width: 100%;
  max-width: 556px;
  font-size: 21px;
  border: 2px solid #f3f3f3;
  padding: 12px 20px;
  border-radius: 5px;
  resize: none;
}
.inputIcon{
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 555px;
  background-size: 24px;
}
.InputField:disabled{
  user-select: none;
  background-color: #828282 !important;
}
.Nav {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.Nav :is(input , label) {
  border-radius: 5px;
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  cursor: pointer;
  margin-bottom: 14px;
}
.returnBack {
  background-image: url("../sharedComponents/Media/backArrow.png");
}
.inputError {
  border-color: #ff3232 !important;
}
.subNav{
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}
.subNav :is(input[type=button], label){
  height: 60px;
  width: 60px;
  margin-top: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  cursor: pointer;
  border-radius: 5px;
}
.pickedBorderColor {
  border-color: #ff3232;
}
.pickedInput , input[type=submit]{
  background-color: #ff3232 !important;
  color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
}

.searchIcon{
  background-image: url("../sharedComponents/Media/search.png");
}